* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.food_card {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 0px 200px  ;
  box-shadow: rgba(100, 84, 243, 0.35) 10px 15px 15px;
  background: url("https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: inline-block;
  
}

.softdrink{
  border: 1px solid black;
  width: 300px;
  height: 300px;
  margin: 0px 200px  ;
  box-shadow: rgba(100, 84, 243, 0.35) 10px 15px 15px;
  background: url("https://images.unsplash.com/photo-1553485657-b0ad6c8cc1c4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=787&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 16px;
  display: inline-block;
}



.food_card:hover {
  animation-name: food-animation;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.softdrink:hover{
  animation-name: food-animation;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}


@keyframes food-animation {
  100% {
    transform: rotate(360deg);
  }
}


