*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar{
    border: 1px solid gold;
    width: 300px;
}

.hamburger{
    border: 1px solid black;
    margin: 2px;
    position: relative;
}

.line{
    width: 40px;
    height: 8px;
    background-color: black;
    margin: 3px 0;
    border-radius: 5px;
    transition: 0.5s;
}

.menu-item{
    border: 1px solid blue;
}

.list-menu{
    border: 1px solid cyan;
    width: 100px;
    list-style-type: none;
    transform: translate(-110px);
    transition: 0.5s;
}

#hamburger-checkbox{
    display: inline-block;
    width: 50px;
    height: 35px;
    top: 0px;
}

.list-items{
    border: 1px dotted grey;
}

input[type="checkbox"]{
    border: 1px solid red;
    width: 45px;
    height: 35px;
    outline: 0px;
    position: absolute;
    top: 0px;
    opacity: 0;
}

input[type="checkbox"]:checked ~.list-menu
{
    transform: translate(0);
}

input[type="checkbox"]:checked ~.line2{
    opacity: 0;
}

input[type="checkbox"]:checked ~.line1{
    transform: rotate(40deg)translate(30%,30%);
}

input[type="checkbox"]:checked ~.line3{
    transform: rotate(-43deg)translate(30%,-30%);
}

.line1, .line2, .line3 {
    width: 35px;
    height: 5px;
    background-color:black;
    margin: 6px 0;

  }

  

 /* li{
    text-decoration: underline dotted ;
    text-decoration-color:blueviolet ;
  }*/